    .slick-list {
        margin-top: 15px;
    }

    .slick-slider {
        margin: 0 auto;
        padding: 40px;
        width: 80%;
    }    
    
    .slick-slide > div {
        margin: 0 5px;
        background-color: white;
        font-family: "playfair";
    
    }

    .slick-track {
        display: flex;
        align-items: center; /* Centers slides vertically */
    }
    
    
    .carousel-container {

        margin-top: 50px;
    }
    
    .carousel-title {
        margin: 0 5px;
        font-family: "playfair";
        font-size: 18px;
    }

